.container{
    width: 930px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #A1AEB1;
    border-bottom: 1px solid grey;
}
.name, .email{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}
.label{
    width: 15%;
}
.error{
    width: 100%;
    height: 20px;
    text-align: center;
   
    color: red;
}
input{
    width: 80%;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.submit{
    margin-top: 10px;
}
