.container{
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #A1AEB1;
    border-bottom: 1px solid grey;
}
.name{
    width: 10%;
}
.email{
    text-align: center;
    width: 30%;
}
.more{
    border: none;
    background-color: #A1AEB1;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}
.options{
    width: 15%;
}
.deleteButton, .editButton{
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.deleteButton{
    background-color: #ee6b6e; 
}
.editButton{
    margin-right: 25px;
    background-color: bisque;
}