.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 850px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* در بالای همه چیز باشد */
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background: #ccc;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 8px;
    width: 400px;
}
button{
    padding: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close-button{
    background-color: bisque;
}
.buttons-container{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.delete-button {
    background-color: #ee6b6e;
}